{% extends 'base.html.twig' %}

{% block title %}Espace élève - {{ parent() }}!{% endblock %}

{% block body %}

    {# <div class="overlay"></div>     #}
        
    <div class="menuflex">

        <!--college-->
        
        <div class="section sectionOne"> 
            
                <h3>College</h3>
        
                
            <div class="container-school">
            
                <div class="card-school">
                    <div class="avatar-school">
                        {# <img src="../../public/assets/images/ecole.jpg" alt="image façade école"> #}
                    </div>
                    <h1>College Jean Rostand</h1>
                    <h4>2, rue du Marché</h4>
                    <h4>59000 Lille</h4>
                    <h4> Tel : 03 20 55 66 88 </h4>
                </div>
            </div>

        </div>
        
        
        <!--  eleve -->
            
        <div class="section sectionTwo">

        
        
                
            <div class="container-eleve">
                <!--pseudo-->      
                <div class="pseudo">
                    <h3>{{user.firstname}} {{user.lastname}}</h3>
                </div>
                
                <!--Avatar-->
                <div class="card-eleve">

                    <div class="scoring-affichage">
                        <h4> {{user.experience}} Points</h4>
                    </div> 
                    <div class="card-avatar-pict">
                        <img src="{{ asset('assets/img/' ~ avatar.imageUrl)}}" alt="Avatar">
                    </div>


                    
                    {% if user.experience > 50 %}    
                    <!--Etoile-->
                    <div class="expe">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                    </div>
                    <p>vous etes champion</p>

                    {% else %}
                    <div class="expe">
                         <i class="fa fa-star"></i>
                         <i class="fa fa-star"></i>
                    </div>
                    <p>dommage</p>

                    {% endif %}
                    <h4> {{user.email}}</h4>

                     <h4> votre Score : {{user.experience}}</h4>

                    
                  
                    <h4>{{user.experience}} XP</h4>                 
                    {# <a href="{{ path('event_show', {id: event.id}) }}">Voir plus</a> #}
                    <a href="{{ path('student_home', {id: user.id}) }}"  class="login">Mon Profil</a>

                </div>
            </div>
        </div>  
                    
        <!--  jeu --> 
        <div class="section sectionThree">
            <h3>Le Jeu</h3>

        
        </div>

    </div>   <!--fin menu flex-->

{% endblock %}
