{% extends 'base.html.twig' %}

{% block title %}Espace élève - {{ parent() }}!{% endblock %}

{% block body %}

    {# <div class="overlay"></div>     #}
        
    <div class="menuflex">

        <!--college-->
        
        <div class="section sectionOne"> 
            <h3>College</h3>
        </div>
        
        
        <!--  eleve -->
            
        <div class="section sectionTwo">
                
            <div class="container-eleve">
                <!--pseudo-->      
                <div class="pseudo">
                    <h3>{{user.firstname}} {{user.lastname}}</h3>
                </div>
                
                <!--Avatar-->
                <div class="card-eleve">
                    <div class="card-avatar-pict">
                        <img src="{{ asset('assets/img/' ~ avatar.imageUrl)}}" alt="Avatar">
                    </div>
                        
                    <!--Etoile-->
                    <div class="expe">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <h4>{{user.experience}} XP</h4>                 
                    
                    <a href="profil.html" class="link btn1">Mon Profil</a>

                </div>
            </div>
        </div>  
                    
        <!--  jeu --> 
        <div class="section sectionThree">
            <h3>Le Jeu</h3>

        
        </div>

    </div>   <!--fin menu flex-->

{% endblock %}
