{% extends 'base.html.twig' %}

{% block title %}Espace élève - {{ parent() }}{% endblock %}

{% block body %}

<div class="menuflex">

<!-- ************************ -->
<!--      Partie COLLEGE      -->
<!-- ************************ -->
        
    <div class="section sectionOne"> 
            
        <h3>College</h3>
        
        <div class="container-school">
                
                <div class="card-school">
                    <div class="avatar-school">
                        <img src="{{ asset('assets/img/ecole.jpg')}}" alt="Avatar">
                    </div>
                
                    <div class="info-college">
                        <p>College Jean Rostand</p>
                        <p>2, rue du Marché</p>
                        <p>59000 Lille</p>
                        <p> Tel : 03 20 55 66 88 </p>
                    </div>

                    <div class="social">
                        <ul>
                            <li><a href="{{ 'https://www.facebook.com' }}"><i class="fab fa-facebook-f"></i><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{ 'https://mail.google.com' }}"><i class="far fa-envelope"></i><i class="far fa-envelope"></i></a></li>
                            <li><a href="{{ 'https://www.instagram.com' }}"><i class="fab fa-instagram"></i><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>

                </div>   <!-- end card -->
            </div>

        </div>   <!-- End section 1 -->
        
        
<!-- ************************ -->
<!--      Partie ELEVE        -->
<!-- ************************ -->
            
    <div class="section sectionTwo">

        <div class="container-eleve">
                
            <!--pseudo-->      
            <div class="pseudo">
                <h3>{{user.firstname}} {{user.lastname}}</h3>
            </div>
                
            <!--Avatar-->
            <div class="card-eleve">
            
            {% if user.experience == 0 %}    
                    <div class="scoring-affichage">
                        <img src="{{ asset('assets/img/explosion.png')}}" alt="Avatar">
                        <h4> 0 POINT</h4>
                    </div> 
                    {% else %}
                    <div class="scoring-affichage">
                        <img src="{{ asset('assets/img/explosion.png')}}" alt="Avatar">
                        <h4> {{user.experience}} POINTS</h4>
                    </div> 
                    {% endif %}
            
                
                <div class="card-avatar-pict">
                        <img src="{{ asset('assets/img/' ~ avatar.imageUrl)}}" alt="Avatar">
                    </div>

            <!--Etoile-->
            {% if user.experience < 500 %}    
                    
                <div class="expe">
                    <i class="fa fa-star"></i>
                </div>
                
            {% elseif user.experience <1000%}
                <div class="expe">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            {% elseif user.experience <1500 %}
                <div class="expe">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>

            {% elseif user.experience >1500 %}
                <div class="expe">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div> 
                
                
                {% endif %} 
                    
                {# class num   #}
                    <div class="NumClassRoom">
                        {% for infos in classroom %}
                        <h2> Classe {{infos.name}}</h2>
                        {% endfor %}  
                    </div>
            
                    <a href="{{ path('student_profil', {id: user.id}) }}"  class="btn-general" id="profil">Mon Profil</a>
                
            </div> <!-- fin card  -->
        </div>
    </div>  

<!-- ************************ -->
<!--      Part Game           -->
<!-- ************************ -->
                    
    <!--  jeu --> 
    <div class="section sectionThree">
            
        <h3>Le Jeu</h3>
        
        <div class="container-jeu">
            
            <h2> Nouveautés</h2>
                
                
            <div class="slide-jeu">
                    {# {% for i in 0..3 %} #}
                    
                <div class="box">
                    <div class="imgBox">
                        <img src="{{ asset('assets/img/logo-math.png')}}" alt="logo math">
                    </div>
                    <div class="details">
                        <div class="content">
                            <h2>QCM Math</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>
                    </div>
                </div>

                <div class="box">
                        <div class="imgBox">
                            <img src="{{ asset('assets/img/logo-hist.png')}}" alt="logo hist">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h2>QCM HIST</h2>
                                <p>Lorem ipsum dolor sit amet,</p>
                            </div>
                    </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="{{ asset('assets/img/science.png')}}" alt="logo science">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h2>QCM Science</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur</p>
                            </div>
                        </div>
                    </div>

                    <div class="box">
                        <div class="imgBox">
                            <img src="{{ asset('assets/img/math.png')}}" alt="logo math">
                        </div>
                        <div class="details">
                            <div class="content">
                                <h2>QCM Histoire</h2>
                                <p>Lorem ipsum dolor sit amet,  </p>
                            </div>
                        </div>
                    </div>
            </div> <!-- end slide -->

            {# <a href="{{ path('quizz')}}"  class="btn-general student" id="profil">Mon Profil</a> #}
                
        </div>
        
    </div>

</div>   <!--fin menu flex-->
    
    
    {# {% endblock %} #}
    
    
{% block javascripts %}
    
    <script>
        $(document).ready(function(){
            $('.slide-jeu').slick({
            
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000,
            });
        });
    </script>
 {% endblock %}
{% endblock %}
