{% extends 'base.html.twig' %}

{% block title %}Création de QCM - {{ parent() }} {% endblock %}

{% form_theme form with [_self, 'teacher/form_theme_response.html.twig'] %}


{% block body %}

  {% include 'teacher/teacherheader.html.twig' %}

  {# div contenant la totalité du formulaire #}
  <div class="container">
  <div class="prototypeResponse" data-prototype="{{ form_widget(form.question.vars.prototype.children['choice'].vars.prototype)|e('html_attr')  }}"></div>
    <h3>Créer votre qcm !</h3><hr>

    <div class="row">
      <div class="col">
        {{ form_start(form, {'attr': {'novalidate' : 'novalidate'} }) }}
        {{ form_widget(form)}}
        {# {{ form_widget(formResp.choice)}} #}

        <button type="submit" class="btn btn-success">Créér le Qcm</button>

        {{ form_end( form)}}
      </div>
    </div>
  </div>

  {% endblock %}

  {# ___________ Add QUESTION block_______________________________ #}

    {% block _qcm_question_widget %}
      <p>Ajoutez une question :</p>

        {{ form_widget(form) }}

      <div class="form-group">
        <button type="button" id="add-question" class="btn btn-primary">Ajouter une question</button>
      </div>
      <hr>

    {% endblock %}

    {#=======================================================#}
    {# permet de supprimer les id au dessus de row #}
    
    {% block _qcm_question_entry_row %}
      {{ form_widget(form) }}

    {% endblock %}
    

    {% block _qcm_question_entry_widget %}

      <div class="form-group divQ" id="block_{{id}}">
        <hr>
        <div class="row">
            <div class="col">
              <div class="row">
                <div class="col-10">
                  {{ form_widget(form.question)}}
                  {{ form_errors(form.question) }}
                </div>
                <div class="col-2">
                    {{ form_widget(form.experience)}}
                    {{ form_errors(form.experience) }}
                  </div>
              </div>
            </div>
            <div class="col-1">
              <button type="button" data-action="deleteQ" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
          </div>

          {# Ajout d'une réponse ___________#}
          <div class="adResp">
            <div class="col">
              <p>Ajoutez une réponse</p>
              {{ form_widget(form.choice)}}
              <div class="">
                <button type="button" data-number="{{ form.vars.name }}" data-id="{{ id }}" class="btn btn-primary add-response">+ réponse</button>
              </div>
              <hr>
            </div> 
          </div>
          {#__________________________________#}
      </div>
    {% endblock %}


    {# ======================================================================== #}

    {% block javascripts %}

    <script>

    //===============================================================================
    // JS AD QUESTION ===============================================================*
    //==========================================================================

      //lorsque je clique sur le bouton ajouter une question
      $('#add-question').click(function(){
        //Récupère le numéro des futurs champs qui seront créés
        const index = $('#qcm_question div.form-group').length;//compte le nombre de div formgroup contenant les questions

        //Récupère le prototype des entrées
        const tmpl = $('#qcm_question').data('prototype').replace(/__name__/g, index);
        
        //injection du code dans la div
        $('#qcm_question').append(tmpl);

        //gestion du bouton de suppression
        HandleDeleteButtons();
       
      });

      //fonction de suppression des champs questions
      function HandleDeleteButtons(){
        $('button[data-action="deleteQ"]').click(function(){
          const target = this.dataset.target;
          $(target).remove();
        });
      };
         
      //==========================================================================
      // JS AD REPONSE ===========================================================
      //==========================================================================

      //lorsque je clique sur le bouton ajouter une REPONSE
        $('body').on( 'click', '.add-response', function(){
          btnRespId = $(this).attr("data-id");
          let qNumber = $(this).attr("data-number");

          console.log(btnRespId);
          
          //Récupère le numéro des futurs champs qui seront créés
          const index2 = $( '#' + btnRespId + '_choice .response-block').length;//compte le nombre de div adResp contenant les reponses
          console.log(index2);
          
          let name = btnRespId + '_choice_' + index2;
            
          let proto = $('.prototypeResponse').data('prototype');

          proto = proto.replace(/question___name__/g, 'question_'  + qNumber);
          proto = proto.replace(/\[question\]\[__name__\]/g, '[question]['  + qNumber + ']');
          proto = proto.replace(/__name__/g, index2);

          //injection du code dans la div
          $('#' + btnRespId +'_choice').append(proto); 
          HandleDeleteButtonsR();

          });

        //fonction de suppression des champs reponse
        
        function HandleDeleteButtonsR(){
          $('button[data-action="deleteR"]').click(function(){
            $(this).parents('.response-block').remove();
          });
          
        };

      </script>
    {% endblock %}

