{% extends 'base.html.twig' %}

{% block title %}Création de QCM - {{ parent() }} {% endblock %}

{% form_theme form _self %}

{% block body %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Collego</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('create_qcm') }}">jeu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Classe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="classe1.html">6eme1</a>
            <a class="dropdown-item" href="#">6eme2</a>
            <a class="dropdown-item" href="#">6eme3</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {# div contenant la totalité du formulaire #}

  <div class="container">
    <h3>Créer votre qcm !</h3><hr>

    <div class="row">
      <div class="col">
        {{ form_start(form)}}
        {{ form_widget(form)}}
        {# {{ form_widget(formResp.choice)}} #}

      <button type="submit" class="btn btn-success">Créér le Qcm</button>

    {{ form_end( form)}}
      </div>
    </div>
  </div>

  {% endblock %}

  {# ___________ Add QUESTION _______________________________ #}

    {% block _qcm_question_widget %}
      <p>Ajoutez une question :</p>

      {{ form_widget(form) }}

      <div class="form-group">
        <button type="button" id="add-question" class="btn btn-primary">Ajouter une question</button>
      </div>

    {% endblock %}

    {# permet de supprimer les id au dessus de row #}
    {# {% block _qcm_question_entry_row %}
      {{ form_widget(form) }}
    {% endblock %} #}

    {% block _qcm_question_entry_widget %}

      <div class="form-group" id="block_{{id}}">
        <div class="row">
            <div class="col-10">
              <div class="row">
                <div class="col-8">
                  {{ form_widget(form.question)}}
                </div>
                <div class="col-2">
                    {{ form_widget(form.experience)}}
                </div>
              </div>
            </div>
            <div class="col-1">
              <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
            </div>
          </div>

          {# Ajout d'une réponse ___________#}
          <div class="adResp">
            <div class="col">
              <p>Ajoutez une réponse</p>

              {{ form_widget(form.choice)}}

              <div class="">
                  <button type="button" id="add-response" class="btn btn-primary">+ réponse</button>
              </div>
              <hr>
            </div> 
          </div>
          {#__________________________________#}
      </div>
    {% endblock %}

    {% block _qcm_question_choice_entry_widget %}
      
      <div class="adResp" id="blockResp_{{id}}">
        <div class="row">
            <div class="col-10">
              <div class="row">
                
                <div class="col-6">
                  {{ form_widget(form.choice)}}
                </div>
                <div class="col-3">
                    {{ form_widget(form.response)}}
                </div>

              </div>
              </div>
              <div class="adResp">
                <button type="button" data-action="delete" data-target="#blockResp_{{id}}" class="btn btn-danger">X</button>
              </div>
        </div>
      </div>

    {% endblock %}

    {# ======================================================================== #}

    {% block javascripts %}

    <script>

      //lorsque je clique sur le bouton ajouter une question
      $('#add-question').click(function(){
        //Récupère le numéro des futurs champs qui seront créés
        const index = $('#qcm_question div.form-group').length;//compte le nombre de div formgroup contenant les questions
        console.log(index);

        //Récupère le prototype des entrées
        const tmpl = $('#qcm_question').data('prototype').replace(/__name__/g, index);

        console.log(tmpl);

        //injection du code dans la div
        $('#qcm_question').append(tmpl);

        //gestion du bouton de suppression
        HandleDeleteButtons();

      });

      //fonction de suppression des champs questions
      function HandleDeleteButtons(){
        $('button[data-action="delete"]').click(function(){
          const target = this.dataset.target;
          $(target).remove();
        });
      }

      //appel de la fonction à chaque rafraichissement de la page
      HandleDeleteButtons();


      // JS AD REPONSE =============================================================

        //lorsque je clique sur le bouton ajouter une REPONSE
      $('#add-response').click(function(){
        //Récupère le numéro des futurs champs qui seront créés
        const index2 = $('#qcm_question_choice div.adResp').length;//compte le nombre de div adResp contenant les reponses
        console.log(index2);

        //Récupère le prototype des entrées
        const tmpl2 = $('#qcm_question_choice').data('prototype').replace(/__name__/g, index2);

        console.log(tmpl2);

        //injection du code dans la div
        $('#qcm_question_choice').append(tmpl2);

        //gestion du bouton de suppression
        HandleDeleteButtons();

      });


    </script>

    {% endblock %}

