<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('teacher_home', {id: user.id}) }}">Collego - {{user.firstname}} {{user.lastname}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sélectionner une classe
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for classroom in classrooms %}
                <a class="dropdown-item" href="{{ path('teacher_classroom', {classroom_id: classroom.id})}}">{{ classroom.name }}</a>
              {% endfor %}
              </div>
            </li>

            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          jeu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ path('create_qcm') }}">Creer un Qcm</a>
          <a class="dropdown-item" href="{{ path('listgame') }}">Liste des jeux</a>
        </div>
      </li>
            
          
            <li class="nav-item">
              <a class="nav-link" href="{{ path("logout") }}">Déconnexion</a>
            </li>
        </ul>
  </div>
          </ul>
          <form class="form-inline my-2 my-lg-0" method="GET" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Recherche par élève..." aria-label="Search" name="studentSearch">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
          </form>
        </div>


    </nav>