{% extends 'base.html.twig' %}

{% block title %}Inscription élève - {{ parent() }}{% endblock %}

{% block body %}

<div class="container-student">

{{ form_start(form, {
                    'attr': {'novalidate': 'novalidate'}
                    }) }}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2>information de l'éléve</h2>
                <hr>
                {{form_row(form.firstname)}}
                {{form_row(form.lastname)}}
                {{form_row(form.username)}}
                {{form_row(form.classcode)}}
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2>information de connection</h2>
                <hr>
                {{form_row((form.email), {'id': 'email'}) }}
                <div id="error"></div>
                {{form_row(form.password)}}

                <button type="submit" class="btn-general btn-student">S'enregistrer</button> 
            </div>
        </div>
    </div>

{{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}

<script>

    $("#email").on('change', function () {
        var email = $(this).val();
        $.ajax({
            method: "post",
            url: '{{ path('ajax') }}',
            dataType: "json",
            data: {"email": email},
            success: function($response){
                if (true == $response['exist']){
                    $('#error').text('Attention : L\'adresse e-mail est déjà utilisée')
                } else if (false == $response['valid']) {
                    $('#error').text('Attention : L\'adresse e-mail n\'est pas valide')
                } else if ((true == $response['valid']) & (false == $response['exist'])) {
                    $('#error').text('')
                };
            },
            error: function(err){
                $('#error').text('Erreur lors de la vérification, merci de rééssayer')
            },
        });
    });

</script>
{% endblock %}