{% extends 'base.html.twig' %}

{% block title %}Inscription élève - {{ parent() }}{% endblock %}

{% block body %}


<div class="container-student">

    <div class="container">
    
        <h2>Inscription Elève</h2>
        <div class="row">
                <div class="col-md-6 bg-form">

                    {{ form_start(form, {
                    'attr': {'novalidate': 'novalidate'}
                    }) }}
                    {{ form_widget(form) }}
                    {{ form_errors(form) }}
                    <button type="submit" class="btn-general">S'enregistrer</button>
                    {{ form_end(form) }}    
                </div>
            </div>

    </div>  
</div>

{% endblock %}
