{% extends 'base.html.twig' %}

{% block title %}Inscription élève - {{ parent() }}{% endblock %}

{% block body %}


<div class="container-student">

    
       
       


   {{ form_start(form, {
                    'attr': {'novalidate': 'novalidate'}
                    }) }}

    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2>information de l'éléve</h2>
                <hr>
                {{form_row(form.firstname)}}
                {{form_row(form.lastname)}}
                {{form_row(form.username)}}
                {{form_row(form.classcode)}}
            
            </div>
        </div>
        <div class="col-md-6">
            <div class="alert alert-light">
                <h2>information de connection</h2>
                <hr>
                {{form_row(form.email)}}
                {{form_row(form.password)}}
              
            </div>
        </div>
    </div>

 <button type="submit" class="btn-general btn-student">S'enregistrer</button> 

{{ form_end(form) }}

</div>

       
{% endblock %}
