{% extends 'base.html.twig' %}

{% block title %}Inscription élève - {{ parent() }}!{% endblock %}

{% block body %}
    {{ form_start(form, {
        'attr': {'novalidate': 'novalidate'}
    }) }}
    {{ form_widget(form) }}
    {{ form_errors(form) }}
    <button type="submit">S'enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
