{% extends 'base.html.twig' %}

{% block title %}Création de RESPONSE {% endblock %}


{% form_theme formResp _self %}


{% block body %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Collego</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('create_qcm') }}">jeu</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Classe
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="classe1.html">6eme1</a>
            <a class="dropdown-item" href="#">6eme2</a>
            <a class="dropdown-item" href="#">6eme3</a>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  {# div contenant la totalité du formulaire #}

  <div class="container">
    <h3>Créer votre qcm !</h3><hr>

    <div class="row">
      <div class="col">

       {# {{ form_start(form)}} #}
        
        {# affiche le champs theme#}
        {# {{ form_widget(form)}} #}
               
        <hr>
            {{ form_start(formResp)}}
            {{ form_widget(formResp)}}
            {{ form_end( formResp)}}
            
          {# {{ form_end(form)}} #}
          
          <button type="submit" class="btn btn-success">Créér le Qcm</button>
          
      </div>
    </div>
  </div>

{% endblock %}

{# la partie ci-dessous contient le champ "ajouter une réopnse" #}
    {% block _question_choice_widget %}

    <p>Ajouter une réponse</p>

    {{ form_widget(form)}}

    <div class="form-group">
      <button type="button" id="add-response" class="btn btn-primary">Ajouter une réponse</button>
    </div>

    {% endblock %}
    

    {% block _question_choice_entry_widget %}

      <div class="form-group" id="block_{{id}}">
        <div class="row">
          <div class="col-8">
            {{ form_widget(form.choice)}}
          </div>
          <div class="col-3">
              {{ form_widget(form.response)}}
          </div>
          <div class="col-1">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger">X</button>
          </div>
        <hr>
        </div>
      </div>
    {% endblock %}




{# == QUESTION ======================================== #}
{#
{% block _qcm_question_widget %}
  <p>Ajoutez une question</p>
  {{ form_widget(form)}}
  <div class="form-group">
      <button type="button" id="add-question" class="btn btn-primary">Ajouter une question</button>
  </div>
  
{% endblock %}

{% block _qcm_question_entry_widget %}
  <h4>qcm question</h4>
{% endblock %}
#}

{# ====================================================== #}

{% block javascripts %}

  <script>

    $('#add-response').click(function(){
      // je récupère les numéros des futurs champs (choice + response) que je vais créer
      const index=$('#question_choice div.form-group').length;

      // Je récupère le prototype des entrées (pour récupérer la partie html des champs à ajouter)
      const tmpl = $('#question_choice').data('prototype').replace(/__name__/g, index);

      console.log(tmpl);

      // J'injecte ce code dans la div
      $('#question_choice').append(tmpl);

      // j'appelle le bouton de suppression
      HandleDeleteButtons();

    });

    //fonction de suppression des champs questions
    
    function HandleDeleteButtons(){
      $('button[data-action="delete"]').click(function(){
        const target = this.dataset.target;
        $(target).remove();
      });
    }

    // je rappelle le bouton de suppression à chaque chargement de la page
    HandleDeleteButtons();

//==================================================================================


  </script>

{% endblock %}

