{% extends 'base.html.twig' %}

{% block title %}Connexion - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container bg-primary " >
    {# {{dump(request)}} #}
    {{dump(qcm)}};
    {{dump(questions)}};
    {# {{dump(choices)}}; #}
        <form action="" method="POST">

            {% for question in questions %}

                <div class="container bg-primary">{{question.question}}</div>

                {% for choice in question.choice %}

                    <div class="container bg-danger" >
                    <input type="radio" value="{{choice.response}}" name="{{question.id}}">
                    <label> <strong>{{choice.choice}}</strong></label>

                    {% if choice.response == "1" %}

                        {% if request.method == 'POST' %}

                        <div> la bonne reponse est {{choice.choice}}</div>
                
                        {% endif %}

                    {% endif %}

                    </div>

                {% endfor %}

            {% endfor %}


            {% if request.method == 'POST' %}

                {% for answer in request.request %}
                    {% if answer == "1" %}
                        <div>vous avez une bonne reponse</div>
                    {% endif %}
                    {% if answer == "" %}
                        <div>vous avez une mauvaise reponse</div> 
                    {% endif %}
                {% endfor %}

            {% endif %}

            <div class="container text-justify-center">
                <button class='btn btn-primary' onclick="" class='answer'>valider la réponse</button>
            </div>

        </form>                        
    
{% endblock %}